* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

*:focus{

	-webkit-user-modify: read-write-plaintext-only;
	outline-style:none;
}

*:active{
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  

}

#page_home{
overflow: inherit;
}

#page_detail_save_location{
overflow: inherit;
}

.wrapper {
	overflow: auto;
}

.wrapper-bar {
	overflow: auto;
}

.toggle-box, .toggle-box * {
    cursor: pointer;
}

.toggle-box {
    position: relative;
  	top: -1px;
    width: 70px;
    height: 28px;
    background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%); /* IE10+ */
    background: linear-gradient(top, #499bea 0%,#207ce5 100%); /* W3C */
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 3, 0.4);
}

.toggle-label {
    position: absolute;
    top: 6px;
	right: 10px;
    display:;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.toggle-control {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 35px;
    height: 28px;
    margin: 0;
    background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ccccc  0%,#ceeeeee100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ccccc  0%,#ceeeeee100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ccccc  0%,#ceeeeee100%); /* IE10+ */
    background: linear-gradient(top, #ccccc  0%,#ceeeeee100%); /* W3C */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.4);
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -webkit-transition: -webkit-transform 0.1s ease-in-out, border 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
}

.toggle-control:checked {
    left: 35px;
}

/* LOADING */
.loading {
	z-index: 10;
	top: 30%;
	margin-top: -0.5em;
	position: absolute;
	width: 100%;
}
.circle {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
/* END LOADING */